// colors
$brand: #52503B;
$orange: #E08631;
$text: #333333;
$light: #FAF8F0;

// general
$text-fz: 14px;
$weight: 400;
$container: 1250px;
$font: Arial;

// breakpoints
$xl: $container;
$lg: 1024px;
$md: 768px;
$sm: 425px;
$xs: 350px;